body {
    background-image: url("images/backgorund-car-form.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    font-size: 1rem;
    background-color: transparent;
    z-index: 999;
    
}
a:hover{
    background-color: rgb(41, 35, 24);
    color: white;
}
.navbar-brand{
    font-size: 2rem;
    color: rgb(179, 179, 179);
}
.nav-link{
    color: rgb(179, 179, 179);  
}
.add-car{
    margin-top: 7rem;
    padding-left: 0%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(68, 118, 63);
    background-color: rgb(68, 118, 63);
    opacity: 0.8;
  }
  h1{
      text-align: center;
      color: rgb(189, 189, 189);
  }
  form>span{
      color:rgb(240, 240, 240);
      text-decoration: bold;
  }
  input[type=submit] {
    background-color: rgb(68, 118, 63);
    border: none;
    color: white;
    padding: 16px 50px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
 h2{
     color:rgb(255, 255, 255);
 }
 tr:hover{
    background-color: rgb(235, 172, 55);
}