body{
background-image: url("images/background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navbar{
    font-size: 1rem;
    background-color: transparent;
    z-index: 999;
    
}
a:hover{
    background-color: rgb(41, 35, 24);
    color: white;
}
.navbar-brand{
    font-size: 2rem;
    color: rgb(105, 83, 40);
}
.nav-link{
    color: rgb(143, 110, 45);  
}
h3{
    text-align: center;
    margin-top: 10rem;
    color: rgb(248, 236, 213); 
}