body {
    background-image: url("images/background-login.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    font-size: 1rem;
    background-color: transparent;
    z-index: 999;
    
}
a:hover{
    background-color: rgb(41, 35, 24);
    color: white;
}
.navbar-brand{
    font-size: 2rem;
    color: rgb(41, 35, 24);
}
.nav-link{
    color: rgb(41, 35, 24);  
}
.table{
    margin-top: 5rem;
    border: 1px solid ;
}
tr:hover{
    background-color: rgb(235, 172, 55);
}