body {
    background-image: url("images/background-login.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    font-size: 1rem;
    background-color: transparent;
    z-index: 999;
    
}
a:hover{
    background-color: rgb(41, 35, 24);
    color: white;
}
.navbar-brand{
    font-size: 2rem;
    color: rgb(41, 35, 24);
}
.nav-link{
    color: rgb(41, 35, 24);  
}
.register{
    margin-top: 8rem;
    padding-left: 0%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(41, 35, 24);
    background-color: rgb(248, 236, 213);
    opacity: 0.5;
  }
  h1{
      text-align: center;
  }
  form>span{
      color:rgb(41, 35, 24);
      text-decoration: bold;
  }
  input[type=submit] {
    background-color: rgb(41, 35, 24);
    border: none;
    color: white;
    padding: 16px 50px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }